@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	color: #2a3237;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	background-color: transparent;     
	background-image: url('../img/back.webp') !important;
	  background-attachment: fixed;
	color : #000000;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



/* Preloader */

.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}

/* Typography */

p {
	text-align: justify;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
	color : #24637E;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul.white-list {
	padding: 0;
	list-style-type: none;
}

ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}

ul.white-list li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}


.tittle {
	color: #3a3a3a;
	font-size: 40px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.tittle-line {
	background-color: #898989;
	display: inline-block;
	height: 3px;
	margin-bottom: 10px;
	width: 60px;
}

.hr {
	display: flex;
    align-items: center;
    margin: 1em 0;
}

.hr::before, .hr::after {
    content: "";
    flex: 1;
    margin: 5% 5%;
    border-bottom: 1px solid #24637E;
	height: 0;
	color: #aaa;
}

.fa-inverse {
  font-size: 1.5em !important;
}



/* header avec particle */

header {
	position: relative;
	width: 100%;
	color: white;
	background: url("../img/banniereFlou.webp");
	background-size: cover;
}

header .table {
	display: table;
	height: 100%;
}

header .container {
	height: 100%;

}

header .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;

}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #24637E;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

#particles-js {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

a {
	text-decoration: none;
	color: #00a8ff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* Navigation Bar ( Navbar ) */

nav.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
	color: #24637E !important;
}

nav.navbar-fixed-top {
	z-index: 9499;
	top: 0;
	padding: 2% 0;
	opacity: 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
	color: #bbb;
}

.icon-bar {
	background: #bbb;
}
/* //////////////////.   Buttons ///////////////////// */


/* Scroll to top bouton */

#myBtn {
  bottom: 60px;
  color: #fff;
  display: none;
  font-size: 23px;
  height: 50px;
  line-height: 45px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 50px;
  z-index: 999;
}




#myBtn:hover,
#myBtn:focus {
  background-color: #FFF;
  text-decoration: none;
  outline: none;
}
#myBtn {
  background-color: #59abe3;
  border: 2px solid #59abe3;
}

#myBtn:hover,
#myBtn:focus {
  color: #59abe3;
}

.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
	color: white;
}

.btn.btn-blue {
	background: #00a8ff;
}

.btn.btn-blue:hover {
	background: #31b9ff;
}

.btn.btn-blue-fill {
	color: #00a8ff;
	border-color: #00a8ff;
	background: transparent;
}

.btn.btn-blue-fill:hover {
	color: white;
	background: #00a8ff;
}

.btn.btn-white-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-white-fill:hover {
	color: #00a8ff;
	background: #fff;
}

.btn.btn-gray-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-gray-fill:hover {
	border-color: #bbb;
	background: #bbb;
}

/* Blink Cursor */

.blink {
	position: relative;
	top: 4px;
	display: inline-block;
	width: 4px;
	height: 50px;
	height: 5vh;
	margin: 0 10px;
}

.navbar {
	top: 50px;
}

.container {
	position: relative;
	z-index: 1;
}
/* Sections standardisée */
section {
	position: relative;
	padding-top: 30px;
}


/* ////// Ensemble des sections ////// */


/* Section présentation */


#presentation-section {
  padding: 120px 0;
}
#presentation-section h3 {
  font-size: 22px;
}
#presentation-section .presentation-text {
  margin-left: 10px;
  margin-top: 20px;
}
#presentation-section img {
  display: inline-block;
  border-color: #0ba2db;
  border-radius: 20px;
  padding: 20px;
}
#presentation-section .presentation-text li {
  font-size: 16px;
  margin-bottom: 6px;
  margin-left: 10px;
  list-style: none;
  padding: 0;
}
#presentation-section .presentation-text li:before {
  content: "✓";
  color: #0ba2db;
  padding-right: 10px;
}
#presentation-section p {
  line-height: 24px;
  margin: 30px 0;
}



/* Bannière chiffres */

.mu-abtus-counter-section {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
  margin-top: -180px;
}

.banniere {
  background-size: 100%;
  height: 200px;
  padding-top: 15px;
  position: relative;
}

.mu-abtus-counter-area {
  display: inline;
  float: left;
  width: 100%;
}
.mu-abtus-counter-area .mu-abtus-counter-single {
  border-right: 2px solid #333;
  border-right-width: medium;:
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  padding-left: 0px;
}
.mu-abtus-counter-area .mu-abtus-counter-single span {
  color: #333;
  display: inline-block;
  font-size: 50px;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 5px;
  align-items: center;
}
.mu-abtus-counter-area .mu-abtus-counter-single h4 {
  color: #333;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.mu-abtus-counter-area .mu-abtus-counter-single p {
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0;
  text-align: center;

}
.mu-abtus-counter-area .no-border {
  border: none;
}

@media (max-width: 991px){
  .mu-abtus-counter-section {
  background-size: 100% 100%;
  padding: 60px 0;
}
  .mu-abtus-counter-section .mu-abtus-counter-area .mu-abtus-counter-single span {
  font-size: 40px;
}

  .mu-abtus-counter-section .mu-abtus-counter-area .mu-abtus-counter-single h4 {
  font-size: 30px;
  margin-top: 15px;
}

  @media (max-width: 767px) {
    .mu-abtus-counter-section {
      background-position: center center;
      background-size: cover;
    }

    .mu-abtus-counter-section .mu-abtus-counter-area .mu-abtus-counter-single {
      border: medium none;
      margin-bottom: 25px;
    }
  }
}


/* Section déroulement */


.owl-buttons {
  display: none;
}
.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-nav{
  text-align: center;
}



#deroulement-section .item {
  width: 100%;
  display: block;
}

#deroulement-section .about-thumb {
  background: #ffffff;
  border-radius: 4px;
  padding: 100px;
  position: relative;
}

#deroulement-section .about-img img {
  border: 8px solid #ffffff;
  position: absolute;
  left: -120px;
  bottom: -325px;
  padding: 12px;
}

#deroulement-section .team-thumb {
  width: 100%;
  height: 400px;
  margin: 32px 0;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#deroulement-section .team-thumb .image-holder {
  position: relative;
  top: 40px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  max-width: 200px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#deroulement-section .team-thumb .heading {
  font-weight: bold;
  position: relative;
  top: 10px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#deroulement-section .team-thumb:hover {
  background: #304352;
}

#deroulement-section .team-thumb:hover .image-holder {
  top: -40px;
  margin-bottom: 0px;
}

#deroulement-section .team-thumb:hover .heading {
  top: -10px;
}

#deroulement-section .team-thumb .description {
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#deroulement-section .team-thumb:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#deroulement-section .team-thumb:hover p.description {
  color: #ffffff;
}

#deroulement-section .team-thumb:hover h3.heading {
  color: #e44c65;
}

.logopdf{ width: 50px;
	height: 50px; 
	border-radius: 10px ;
}


/* MIAGE en Actus (concours)*/

.concour {
  margin: 20px 0;
}


.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #ffbf00;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #8e95a0;
    padding: 5px 20px;
    border-radius: 25px;
    color: #333;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 50;
    font-size: 13px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}


/* miage en actu "ils parlent de nous (News) */


.feature-center {
  padding: 30px;
  float: left;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-bottom: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 100px;
  }
}
.feature-center .desc {
  padding-left: 180px;
}
.feature-center p:last-child {
  margin-bottom: 0;
  color: #fff;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
  text-align: center;
}
.feature-center h3 {
  font-size: 22px;
  color: #fff;
}
.feature-center:hover, .feature-center:focus {
  background: #58ACFA;
  bottom: 10px;
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
.feature-center:hover p:last-child, .feature-center:focus p:last-child {
  margin-bottom: 0;
}
.feature-center:hover p, .feature-center:hover h3, .feature-center:focus p, .feature-center:focus h3 {
  color: #fff !important;
}
.feature-center:hover a, .feature-center:focus a {
  text-align: center;
  color: #fff;
}
.feature-center:hover a:hover, .feature-center:focus a:hover {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .feature-center:hover, .feature-center:focus {
    bottom: 0;
  }
}
.little_image{
  width: 100px;
  height: 50px ;
  /* margin-bottom: 70px; */
}

.feature-center:hover img, .feature-center:focus img {
  text-align: center;
  margin-left: auto;
    margin-right: auto;
}
.feature-center img {
  text-align: center;
  margin-left: auto;
    margin-right: auto;
}


/* Section mot du directeur */

#mot-dir-section .items {
  display: inline;
  float: left;
  padding: 0 150px;
  position: relative;
  width: 100%;
  z-index: 99;
}

#mot-dir-section .items .mu-testimonial-item {
  display: inline;
  float: left;
  width: 100%;
  outline: none;
}
#mot-dir-section .items .mu-testimonial-item .mu-testimonial-quote {
  background-color: #333;
  border-radius: 4px;
  display: inline;
  float: left;
  padding: 60px 30px;
  width: 100%;
}
#mot-dir-section .items .mu-testimonial-item .mu-testimonial-quote blockquote {
  border: none;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}
#mot-dir-section  .items .mu-testimonial-item .mu-testimonial-quote blockquote:before {
  content: '\f10d';
  color: #fff;
  font-family: fontAwesome;
  font-style: italic;
  left: 2%;
  position: absolute;
  top: 0;
}
#mot-dir-section .items .mu-testimonial-item .mu-testimonial-quote blockquote p {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
  line-height: 1.8;
  margin-bottom: 0;
}
#mot-dir-section  .items .mu-testimonial-item .mu-testimonial-img {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
#mot-dir-section  .items .mu-testimonial-item .mu-testimonial-img img {
  background-color: #555;
  border: 1px solid #888;
  border-radius: 50%;
  margin: -50px auto 5px;
  padding: 0;
  width: 120px;
}
#mot-dir-section  .items .mu-testimonial-item .mu-testimonial-info {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
#mot-dir-section  .items .mu-testimonial-item .mu-testimonial-info h4 {
  color: #24637E
  font-size: 20px;
  margin-bottom: 0px;
}
#mot-dir-section  .items .mu-testimonial-item .mu-testimonial-info span {
  font-size: 14px;
  letter-spacing: 0.3px;
}


/* responsive  */


@media (max-width: 991px) {

  #mot-dir-section .items {
    padding: 0 20px;
  }

  #mot-dir-section .items  .mu-testimonial-item .mu-testimonial-quote {
    padding: 60px 15px;
  }

  #mot-dir-section .items  .mu-testimonial-item .mu-testimonial-quote blockquote::before {
    left: 0;
  }
  
  #mot-dir-section .items .mu-testimonial-item .mu-testimonial-quote {
    padding: 40px 15px 80px;
  }

}


/* Section ils nous soutiennent */

.soutien {
  width: 100%;
  height: 320px;
  margin: 40px 0;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.soutien .icon-holder {
  position: relative;
  top: 100px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.soutien .icon-holder > img.icon {
  width: 80px;
}

/*Permet de détermoner la couleur des bordures des boxes*/;
.soutien:hover {
  border-color: #00a8ff;
}

.soutien:hover .icon-holder {
  top: -30px;
}

.soutien:hover .heading {
  top: -30px;
}

.soutien .description {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.soutien:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.description{
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
}



/* Footer */

footer {
	padding: 140px 0 40px;
	background: rgba(28, 36, 65, 0.93);
	-webkit-background-size: cover;
	background-size: cover;
}

footer .trial-button {
	overflow: hidden !important;
	margin: 40px 0;
}

footer .open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #4caf50;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

footer .open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.1;
	border-radius: 50%;
	background-color: #4caf50;
}

footer .opening-hours {
	margin-top: 60px;
}

footer .bottom-footer {
	margin-top: 150px;
}

footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

footer .social-footer li:hover a {
	color: #00a8ff;
}
footer .text-center-mobile a{
  font-size: 20px;
}

.footbar{
	width: 30px;
	height: 30px;
	border-radius: 10px ;
}




/* Navigation mobile */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.mobile-nav.active {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}

.mobile-nav ul li {
	margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
	color: #aaa;
}

.mobile-nav a.close-link {
	font-size: 24px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 10px);
	left: 0;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	background: #00a8ff;
}

.row.title {
	padding: 0 20px;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: bold;
}
/* Colors */

.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
}

.gray-bg {
	background: #f7f7f7;
}

.blue {
	color: #00a8ff;
}

.blue-bg {
	background: #00a8ff;
}

.muted {
	color: #989da0;
}

.margin-top {
	margin-top: 150px;
}

@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	.section {
		padding: 30px 0;
	}
}

/* Media Queries */

@media(max-width:991px) {
	.text-center-mobile {
		text-align: center !important;
	}
}


@media(max-width: 400px) {
	header .typed-cursor {
		display: none;
	}
	.pricings .pricing .box-second {
		padding-top: 0;
	}
}







